parameters:
    laravelGuard:
        tenantModels: []
parametersSchema:
    laravelGuard: structure([
        tenantModels: listOf(string())
    ])


services:
    -
        class: LaravelGuard\Integrations\PHPStan\TenantModelRule
        arguments:
            tenantModelClasses: %laravelGuard.tenantModels%
        tags:
            - phpstan.rules.rule
